```css
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.container{
display:grid;

grid-template-rows:80px 1fr 60px;

height:100vh;
}

header{
display:flex;
justify-content:space-between;
align-items:center;

padding:20px 50px;

background:#333;
color:white;
}

.logo{
font-size:28px;
font-weight:bold;
color:#4ecdc4;
}

.menu{
display:flex;
gap:25px;
}

.menu a{
color:white;
text-decoration:none;
}

.hero{
background-image:url("https://images.unsplash.com/photo-1554118811-1e0d58224f24");
background-size:cover;
background-position:center;

display:flex;
align-items:center;

padding-left:80px;
color:white;
}

.text{
max-width:500px;
}

.welcome{
color:#4ecdc4;
margin-bottom:10px;
}

h1{
font-size:50px;
margin-bottom:20px;
}

footer{
background:#222;
color:white;

display:flex;
justify-content:center;
align-items:center;
}
